APP_ENV                     = local
APP_DEBUG                   = true
APP_URL                     = http://localhost/
APP_KEY                     = base64:EEfcm8i18YtHBjHFOujpVono0I/Nc8FgyVy13jrrQ9o=