GITHUB_TOKEN    = # Obtener en https://github.com/settings/tokens
URL_REPOSITORIO = # https://github.com/AVA-UCSC/ ... 
RAMA            = main

CORREO          = # Correo del usuario de github
NOMBRE          = # Nombre del usuario de github